.menu {
  overflow: auto;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 768px) {
    display: none;
  }

  > span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #1c1c1e;
    padding: 24px 0 32px 32px;
  }

  > .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .menuItem {
      box-sizing: border-box;
      padding: 20px 20px 20px 32px;
      width: 100%;
      display: flex;
      gap: 16px;
      align-items: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      /* Text */

      color: #1c1c1e;

      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.089);
        transition: background-color 0.1s linear;
      }

      .arrow {
        margin-left: auto;
        transition: transform 0.2s linear;
      }

      .flipped {
        transform: rotate(180deg);
      }
    }

    > .subMenu {
      padding-left: 80px;
    }
  }
}
